.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    display: flex; // các element trong đó hiện theo chiều ngang từ trái sang phải
    margin-top: var(--default-layout-height);
}
// .sidebar {
//     text-rendering: optimizeSpeed;
//     overflow-y: overlay;
// }
// html *::-webkit-scrollbar {
//     border-radius: 0;
//     width: 8px;
// }

// html *::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba(0, 0, 0, 0.15);
// }

// html *::-webkit-scrollbar-track {
//     border-radius: 0;
//     background-color: rgba(0, 0, 0, 0);
// }
.content {
    flex: 1;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    height: 1000px;
}
.content::-webkit-scrollbar {
    display: none;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    //display: none;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    // display: none;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    // display: none;
    background-color: rgba(0, 0, 0, 0);
}
